<div class="column is-half">
    <% @user.attended_events.each do |event| %>
            <div class="box">
                <div class="block">
                <h4 class="control title is-4">
                    <%= event.title %>
                </p>
                </div>
                <p class="control">
                    <%= event.description %>
                </p>
            </div>
    <% end %>
</div>