<div class="column is-half">
    <% @user_events = Event.where(creator_id: @user.id) %>
    <% @user_events.each do |event| %>
            <div class="box">
                <p class="control">
                    <%= event.title %>
                </p>
                <p class="control">
                    <%= event.description %>
                </p>
            </div>
    <% end %>
</div>