<section class="section">
    <div class="container">
        <div class="columns">
            <%= render 'past_user_events' %>
            <%= render 'upcoming_user_events' %>
        </div>
    </div>
</section>