<div class="column is-half"> 
    <h3 class="title is-3">
        Current Events:
    </h3>
    <% @current_events = Event.current %>
    <% @current_events.each do |event| %>
        <div class="box">
            <div class="block">
            <h4 class="control title is-4">
                <%= link_to event.title, event_path(event.id) %>
            </h4>
            <p class="control">
                by <%= link_to event.creator.username, user_path(event.creator.id) %>
            </p>
            <p class="control">
                <%= event.date %>
            </p>
            </div>
            <p class="control">
                <%= event.description %>
            </p>
        </div>
    <% end %>
</div>