<div class="block">
    <div class="field">
        <input name="username" class="input" placeholder="Enter a username">
    </div>
    <div class="actions">
        <button class="button is-success is-light is-medium">Invite</button>
    </div>
</div>